.sidebar {
  padding: 12px 0 0 0;
  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    margin: 0 0 20px;
    text-align: left;
  }
  .topics-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    li {
      &:hover {
        color: #007994;
        border-left: 1px solid #007994;
        cursor: pointer;
      }
      margin: 0 0 25px;
      a {
        &:hover {
          color: #007994;
          text-decoration: none;
        }
        color: #777777;
      }
      &.active {
        color: #007994;
      }
    }
  }
}
.postarea {
  margin: 0 0 11px;
  h6 {
    margin: 0 0 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #007994;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
    margin: 0 0 11px;
    text-align: left;
  }
  p {
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #969494;
    margin: 0 0 7px;
  }
  strong {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    display: block;
    margin: 0 0 9px;
  }
  .post-image {
    border-radius: 5px;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
}
.latestnews-block {
  margin-top: 20px;

  .authorname {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    margin: 0 0 5px;
  }
  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #222222;
    margin: 0 0 20px;
    text-align: left;
  }

  .news-row {
    border-bottom: 0.5px solid #777777;
    padding-bottom: 20px;
    margin-bottom: 27px;
    &:last-child {
      border-bottom: none;
    }
  }

  .allpost-block {
    width: 100%;
    .allpost-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        .image-frame-d {
          img {
            width: 100%;
            height: auto;
          }
        }
        .image-frame {
          img {
            width: 100%;
            height: auto;
          }
        }
        strong  {
          font-weight: bold;
          font-size: 21px;
          line-height: 23px;
          color: #222222;
          display: block;
          margin: 0 0 12px;
        }
        em {
          font-style: normal;
          font-size: 14px;
          line-height: 17px;
          color: #C4C4C4;
          display: block;
        }
        .p-left-6 {
          padding-left: 7px;
        }
        .p-right-6 {
          padding-right: 7px;
        }
        .small-post {
          margin-top: 11px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          display: flex;
          align-items: center;
          color: #777777;
          line-height: 17px;
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #777777;
            margin: 0 0 5px;
          }
          P {
            margin: 0 0 2px;
            font-size: 12px;
            line-height: 14px;
          }
          img {
            width: 51.51px;
            height: 51.51px;
            display: block;
            margin: 0 0;
          }
        }
      }
    }
  }
  .text-block {
    font-size: 14px;
    line-height: 17px;
    color: black;
    p {
      margin: 0;
    }
  }
}

.news-heading-list {
  margin: 0;
  padding: 0;
  list-style: none;
  h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #007994;
    margin: 0 0 7px;
  }
  a {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    display: block;
    margin-bottom: 14px;
    &:hover {
      color: #007994;
    }
  }
  li {
    border-bottom: 0.5px solid #C4C4C4;
    margin-bottom: 12px;
    .panel-area {
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 17px;
      color: #777777;
      display: flex;
      justify-content: space-between;
      p {
        min-width: 100px;
        margin: 0 0 15px;
      }
    }
    .time {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 17px;
      color: #C4C4C4;
      display: block;
    }
    &:last-child{
      border-bottom:none;
    }
  }
}

.types-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;

  li {
    padding: 6px 10px;
    background: #F1F1F1;
    border-radius: 25px;
    margin: 0 15px 23px 0;

  &:hover {
    color: #007994;
  }
    a {
      &:hover {
        color: #007994;
        text-decoration: none;
      }
      color: #C4C4C4;
    }
  }
}

.single-post {
  margin: 0 0 11px;
  h6 {
    margin: 0 0 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #007994;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
    margin: 0 0 11px;
    text-align: left;
  }
  p {
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #777777;
  }
  strong {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    display: block;
    margin: 0 0 9px;
  }
  .post-image {
    border-radius: 5px;
    margin-bottom: 30px;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
}

.socialnetwork-block {
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: black;
  .social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    position: sticky;
    top: 155px;
    li {
      margin: 0 0 28px;
      img {
        margin: 0 auto;
      }
    }
  }
}

.small-post-detail {
  .authorname {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    margin: 0 0 5px;
  }
  margin-top: 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #777777;
  line-height: 17px;

  a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
    margin: 0 0 5px;
  }
  P {
    margin: 0 0 2px;
    font-size: 12px;
    line-height: 14px;
  }
  img {
    width: 51.51px;
    height: 51.51px;
    display: block;
    margin: 0 0;
  }
}
.save-purchasing-block {
  margin-top: 70px;
  .save-head {
    display: flex;
    justify-content: space-between;
    padding: 44px 71px 37px 134px;
    background-image: url('/static/images/save_image.png');
    background: linear-gradient(264.84deg, #3B8F9E -18.63%, #53B68D 61.9%), #53B68D;
    opacity: 0.95;
    h1 {
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;
      margin: 0;
      padding: 0 43px 0 0;font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
      text-align: left;
    }
    h3 {
      font-size: 16px;
      line-height: 25px;
      text-align: right;
      color: #FFFFFF;
      margin: 0;
      padding: 0 0 0 111px;
    }
  }
  .save-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #222222;
    padding: 54px 112px 53px 142px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 15px;
      top: 60px;
      width: 44px;
      height: 36px;
      background-image: url(/static/images/“.png);
      background-repeat: no-repeat;
    }
    .chart-frame {
      padding-top: 50px;
      img {
        display: block;
        margin: 0 auto 40px;
      }
    }
    p {
      margin: 0 0 14px;
    }
  }



}
.news-heading-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
  h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #007994;
    margin: 0 0 7px;
  }
  a {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    display: block;
    margin-bottom: 14px;
    &:hover {
      color: #007994;
    }
  }
  li {
    border-bottom: 0.5px solid #C4C4C4;
    margin-bottom: 12px;
    .panel-area {
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 17px;
      color: #777777;
      display: flex;
      justify-content: space-between;
      p {
        min-width: 100px;
        margin: 0 0 15px;
      }
    }
    .time {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 17px;
      color: #C4C4C4;
      display: block;
    }
    &:last-child{
      border-bottom:none;
    }
  }
}
.subscribe-section {
  padding: 20px;
  .subscribe {
    padding: 30px;
    font-size: 15px;
    background: #F7F7F7;
    h5 {
      font-size: 1rem;
    }
  }
  .subscribe-form {
    padding: 30px;
    font-size: 15px;
    background: #F7F7F7;
    .search-bar {
      padding: 20px;
      border: 1px solid #C4C4C4;
      border-radius: 25px;
      width: 70%;
      outline: none;
    }
    .search-button {
      color: white;
      margin-left: 10px;
      border: #007994;
      border-radius: 5px;
      background: #007994;
      padding: 10px;
      outline: none;
    }
  }
}
@media (max-width: 768px) {
  .post-content-left {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .news-heading-list {
    height: auto;
  }
  .socialnetwork-block{
    padding-top: 30px;
    p img {
      width: 100%;
      height: auto;
    }
  }
  .types-list {
    display: table;
    width: 475px;
    overflow-x: scroll;
    li {
      display: inline-block;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .d-m-none  {
    display: none;
  }

  .small-post-detail {
    padding: 0 10px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 15px;
    a {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #777777;
      margin: 0 0 5px;
    }
    P {
      margin: 0 0 2px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .latestnews-block {
    padding: 0 15px;
    h1 {
      margin: 0 -15px 17px;
      &.latest {
        display: none;
      }
    }
    .p-mob-0 {
      padding: 0;
    }
    .news-row {
      padding-bottom: 15px;
      margin-bottom: 15px;
      .allpost-block {
        width: 100%;
        .allpost-list {
          li {
            strong  {
              font-weight: bold;
              font-size: 16px;
              line-height: 16px;
              margin: 0 0 7px;
            }
            em {
              font-size: 14px;
              line-height: 17px;
            }
            .p-left-6 {
              padding-left: 7px;
            }
            .p-right-6 {
              padding-right: 7px;
            }
            .small-post {
              margin-top: 5px;
              font-size: 12px;
              line-height: 15px;
              a {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: #777777;
                margin: 0 0 5px;
              }
              P {
                margin: 0 0 2px;
                font-size: 12px;
                line-height: 14px;
              }

            }
          }
        }
      }
    }
  }

  .save-purchasing-block {
    overflow: hidden;
    margin-top: 30px;
    .save-head {
      display: table;
      text-align: center;
      padding: 44px 24px 37px 22px;
      margin: 0 -17px;
      h1 {
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin: 0 0 31px;
        padding: 0 0 0 0;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
      }
      h3 {
        padding: 0 0 0 0;
      }
    }
    .chart-frame {
      img {
        margin: 0 auto 20px;
        width: 100%;
      }
    }
    .save-caption{
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      padding: 60px 0 23px 0;
      &:before {
        background-size: 52%;
        top: 23px;
        left: 0;
      }
    }
  }

  .sidebar{
    overflow: scroll;
    width: 100%;
    .topics-list {
      font-size: 14px;
      line-height: 17px;
      overflow-y: scroll;
      display: flex;
      width: 541px;
      display: -webkit-inline-box;
      justify-content: space-between;
      li {
        text-align: center;
        background: #F1F1F1;
        border-radius: 25px;
        padding: 11px 21px;
        margin: 0 30px 25px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          border-left: none;
          background: #007994;
        }
        margin: 0 0 25px;
        a {
          &:hover {
            color: #fff;
            text-decoration: none;
          }
          color: #777777;
        }
        &.active {
          color: black;
          background: #007994;
          opacity: 0.7;
        }
      }
    }
  }

  .postarea h1 {
    font-size: 20px;
    line-height: 27px;
  }
}
.blogs-container{
  top: 0px !important;
  position: sticky !important;
  margin-left: 68% !important;
  z-index: 10 !important;
}
.listings-pagination{
  top: 76px !important;
  position: sticky !important;
  border-radius: 6px;
  margin: auto;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .blogs-container{
    position: initial !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    width: inherit !important;
  }
}
