.modal-content {
  padding: 25px;
}
.modal-heading {
  font-size: 27px;
  text-align: center;
  color: $title-light-color;
  padding-top: 5px;
  padding-bottom: 10px;
}
.modal-header {
  border-bottom: none !important;
  margin-top: -58px;
  margin-bottom: -20px;
  margin-right: -54px;
}
.close {
  border-radius: 50%;
}
.icon {
  text-align: center;
  padding-top: 35px;
}
.modal-header .close {
  padding: 0;
  margin: 0px;
  opacity: 1;
  color: $white;
  background: $contact-homeowner-model-close;
  width: 40px;
  height: 40px;
  outline: none;
}
.modal-header .close:hover,
.modal-header .close:focus {
  opacity: 1 !important;
  color: $white !important;
}
.modal-header .close span {
  text-shadow: none;
}

.dashboard-modal {
  max-width: 651px;
  .modal-content {
    padding: 0px;
  }
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    margin-top: -32px;
    margin-bottom: -32px;
    margin-right: -36px;
  }
  .modal-dialog {
    max-width: 650px;
  }
  .modal-body {
    height: 86px;
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-modal {
    margin-top: 23px;
    .modal-body {
      height: 105px;
    }
  }
}

.images-modal {
  max-width: 95%;
  margin-top: 4%;
}
