@import "styled-jsx-helper";
.listing-print-flyer{
  margin: 20px;
  .print-button{
    margin: auto;
    display: block;
  }
  .printing-header{
    background-color: $buyer-banner-saperator-color;
    border-radius: $border-radius-xl;
    &__header-add{
      margin: 10px;
      color: $white
    }
    &__header-price{
      color: $white;
      font-size: $xl-font-size;
      font-family: $headings-font-family;
    }
    &__house-open{
      text-align: center;
      color: $white;
      margin: 20px;
      margin-left: auto;
      font-style: italic;
    }
  }
  .flyer-images{
    margin: 20px;
    &__flyer-cover{
      width: 500px;
      height: 420px;
      margin: 0px auto;
      display: block;
    }
    &__flyer-secondary{
      width: 250px;
      height: 200px;
      margin: 0px auto;
      display: block;
    }&__flyer-info{
      margin: 5px;
      text-align: center;
      color: $white;
      font-style: italic;
    }
  }
  .flyer_info{
    margin: 10px;
    &__overview{
      color: $grey-650;
      text-align: justify;
    }
  }
  .flyer_owner_info{
    margin-top: 5px;
    &__owner{
      margin-top: 10px;
    }
    &__contact_owner{
      text-align: center;
      color: $white;
      margin: 5px;
    }
    &__contact_email{
      color: skyblue;
    }
    &__broker_name{
      font-size: 1.1em;
      font-weight: bold;
    }
  }

}